@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

.about-text-container {
  font-family: "Courier Prime", monospace;
  width: 75vw;
  height: 75vh;
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 10%;
  left: 0;
  transform: translate(15%, 120%);
  background-color: #fff;
  z-index: 999;
}

.about-text-container p {
  font-size: 1rem;
}

.about-image {
  height: 100vh;
  width: 40vw;
  overflow: hidden;
}

.about-text {
  width: 50%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  padding-top: 2rem;
  overflow: hidden;
}

.drag-over-text {
  font-size: 1.3rem;
  margin-top: 10%;
}

.cross-icon {
  position: absolute;
  top: 0;
  right: 0;
  color: #000;
  font-size: 1.5rem;
  margin: 0.5rem;
  z-index: 999;
  cursor: pointer;
}