.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background: #8D72E1;
}

.box {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6C4AB6;
    overflow: hidden;
    border-radius: 20px;
}

.box::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 140%;
    background: linear-gradient(#FB2576, #FB2576);
    animation: animate 5s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    inset: 6px;
    background: #8D72E1;
    border-radius: 14px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.box h2 {
    position: relative;
    color: #ffffff;
    font-size: 10vw;
    z-index: 10;
}