.container {
    background: #212121;
    color: white;
}

.main {
    padding: 100px;
}

li {
    list-style: none;
    margin-left: 25px;
    cursor: pointer;
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

li:hover {
    font-weight: bold;
}

.latest {
    position: absolute;
    bottom: 25%;
    left: 8%;
    z-index: 10;
    font-size: 3.2rem;
    text-transform: uppercase;
}

.categories {
    display: flex;
    align-items: center;
    overflow: hidden;

}

.categories li {
    flex-wrap: nowrap;
    white-space: nowrap;
    animation: categories 20s infinite;
}


@keyframes categories {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-1400px);
    }
}

nav {
    display: flex;
    background: black;
    color: white;
    padding: 0.8rem;
}
