
.container {
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 860px;
  margin: 0 15%;
  align-items: center;
  padding: 100px 20px;
}

.container img {
  width: 100%;
    height: auto;
}

.container p {
  padding: 10px 60px;
  line-height: 1.6rem;
}

.text-center {
  text-align: center;
}

.blog-post__container li {
  list-style: none;
  line-height: 2;
}

.blog-post__container li:hover {
  font-weight: 400;
  cursor: auto;
}