.container {
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 860px;
  margin: 0 15%;
  align-items: center;
  padding: 100px 20px;
}

.container img {
  width: 900px;
  height: 500px;
}

.container p {
  padding: 10px 60px;
  line-height: 1.6rem;
}
