.imagesContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow: hidden !important;
}

.imagesContainer::-webkit-scrollbar {
    display: none;
}

.homeBg {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */


}

.mainContainer {
    width: 100%;
    height: 78vh;
    display: flex;
    position: absolute;
    top: 17%;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 999;
    overflow: hidden;

}

.left-img-container {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;


}

.right-img-container {
    width: 58%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


}

.right-img-inner-upper-container {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

.right-img-inner-lower-container {
    width: 100%;
    height: 43%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;



}


.right-img-inner-upper {
    width: 48%;
    height: 100%;
    position: relative;
}

.right-img-inner-lower,
.left-img {
    width: 100%;
    height: 100%;
    position: relative;

}

.left-img {
    object-fit: cover;
}

.home-img {
    width: 100%;
    height: 100%;

    object-fit: fill;
}

.upper-right-img {

    object-fit: cover;
}

.home-text-container {
    position: absolute;
    top: 0;
    left: 10%;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: left;
    color: #fff;
    scroll-behavior: smooth;
}


.home-desc-text {
    position: absolute;
    font-weight: 700;
    height: 25%;
    overflow: scroll;
    scroll-behavior: smooth;
    overflow-y: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.home-desc-text::-webkit-scrollbar {
    display: none;
}

.scroll-text {
    color: #fff;
    position: absolute;
    bottom: 2%;
    left: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.home-text-container-span {
    font-size: 5rem;
    font-weight: 700;
}

@media screen and (max-width: 900px) {


    .home-text-container-span {
        font-size: 4rem;
        font-weight: 700;
    }

    .home-desc-text {
        height: 40%;
        font-weight: 700;
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 768px) {
    .imagesContainer {
        height: 140vh;
        overflow-x: scroll;
    }

    .home-desc-text {
        height: 45%;
        font-weight: 700;
        font-size: 1.3rem;
    }

    .left-img-container {
        width: 90%;
        height: 50%;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .mainContainer {
        flex-direction: column;
        height: 120vh;
        top: 12%;

    }

    .right-img-container {

        width: 90%;
        height: 110vh;
        margin: auto;
        justify-content: space-around;
        align-items: center;
        margin-top: .3rem;
    }

    .home-text-container-span {
        font-size: 2.8rem;
        font-weight: 700;
    }


}


@media screen and (max-width: 480px) {
    .home-desc-text {
        height: 50%;
        font-weight: 700;
        font-size: 1.3rem;
    }

    .home-text-container-span {
        font-size: 2.3rem;
        font-weight: 700;
    }

}