.about-container {
  width: 70%;
  height: 60vh;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  margin: auto;
  padding-top: 20%;

}

.about-inner-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 200px;
  border-radius: 120%;
  height: 200px;
  margin: auto;
  transition: 2s ease-out;
  animation: rotation 20s infinite linear;
  z-index: 1000;
}

.about-instruction-text-container {
  position: absolute;
  color: #000;
  width: 100%;
  height: 100%;
  top: 36%;
  left: 0;
  display: flex;
  justify-content: center;

}

.about-instruction-text {
  margin-top: 1rem;
  font-size: 2.5em;
  font-weight: 400;
  background-color: #fff !important;
  padding: 15px;
  text-align: center;
  color: #000;
  width: 20vw;
  height: 25vh;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.about-inner-container li {
  position: absolute;
  list-style-type: none;
  left: -120%;
  top: 15%;
  right: 140%;
  transform-origin: 220%;
  transform: rotate(calc(360deg / 6 * var(--i)));

}




@keyframes rotateIcons {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-359deg);
  }
}

.icon-img {
  width: 100%;
  height: 140px;
  object-fit: contain;
  /* animation: rotateIcons 10s infinite linear; */

}

.icon-img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

@media screen and (max-width: 1200px) {
  .about-container {
    width: 100%;
    height: 100vh;
  }

  .about-inner-container {
    width: 150px;
    height: 150px;
    top: 15%;

  }

  .about-inner-container li {
    right: 135%;
    top: 9%;
    transform-origin: 200%;
  }

  .icon-img {
    height: 100px;
  }

  .about-instruction-text-container {
    top: 33%;
  }

  .about-instruction-text {
    font-size: 1.9em;
    height: 18vh;
  }
}


@media screen and (max-width: 768px) {
  .about-container {
    width: 100%;
    height: 100vh;

    overflow-y: hidden;
  }

  .about-inner-container {
    width: 150px;
    height: 150px;
    margin-top: 10%;
  }

  .about-inner-container li {
    right: 130%;
    top: 10%;
    transform-origin: 200%;
  }

  .icon-img {
    height: 100px;
  }

  .about-instruction-text-container {
    top: 35%;
  }

  .about-instruction-text {
    height: 15vh;
    font-size: 1.7em;
    width: 35%;
  }
}

@media screen and (max-width: 480px) {
  .about-container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;

  }


  .about-inner-container {
    width: 100px;
    height: 100px;
    margin-top: 20%;
  }

  .about-inner-container li {
    right: 130%;
    top: 8%;
    transform-origin: 200%;
  }

  .icon-img {
    height: 60px;

  }

  .about-instruction-text-container {
    top: 31%
  }

  .about-instruction-text {
    width: 32%;
    font-size: 1.3em;
    height: 13vh;
  }
}
@media screen and (max-width:380px){
   .about-instruction-text {
    width: 32%;
    font-size: 1.3em;
    height: 20vh;
  }
   .about-container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;

  }



}